<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/polkit/1.0/policyconfig.dtd">
<policyconfig>
  <action id="br.com.dysatech.vpn-client-fortigate">
    <description>VPN Client FortiGate - IPsec</description>
    <description xml:lang="pt_BR">Cliente VPN para FortiGate usando IPsec</description>
    <message>Forneça credenciais de administrador para gerenciar conexões VPN</message>
    <message xml:lang="pt_BR">Forneça credenciais de administrador para gerenciar conexões VPN</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
</policyconfig>